@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';

@theme {
  /* Font */
  --font-sans: 'Manrope', sans-serif;

  /* Custom Color */
  --color-primary: #4f39f6;
  --color-dark-shade: #101727;
  --color-muted: #627382;
  --color-heading-dark: #101727ff;
}

@utility wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
}

.bg-gradient {
  @apply bg-gradient-to-b from-[rgba(79,57,246,1)] to-[rgba(149,20,250,1)];
}
 
.btn-primary {
  @apply text-white text-base font-semibold px-4 py-3 bg-gradient-to-b from-[rgba(79,57,246,1)] to-[rgba(149,20,250,1)] rounded-3xl cursor-pointer hover:opacity-90 transition-all duration-500;
}

.btn-normal {
  @apply text-base font-semibold px-4 py-3 bg-transparent rounded-3xl cursor-pointer hover:opacity-90 transition-all duration-500;
}

.custom-text-gradient {
  @apply bg-gradient-to-b from-[rgba(79,57,246,1)] to-[rgba(149,20,250,1)] bg-clip-text text-transparent;
}

.popular {
  @apply text-[#bb4d00] font-medium text-sm bg-[#fef3c6] rounded-4xl px-3 py-1.5 capitalize;
}

.new {
  @apply text-[#0a883e] font-medium text-sm bg-[#dbfce7] rounded-4xl px-3 py-1.5 capitalize;
}

.best-seller {
  @apply text-primary font-medium text-sm bg-[#e1e7ff] rounded-4xl px-3 py-1.5 capitalize;
}
